{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html>
	<head>
		<title>三农</title>
		<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.3, user-scalable=yes"/>
		<style>
		.content{margin:2%;width: 96%}
		img {width:100%;height: auto;}

		</style>
		</head>
	<body>
	<div class="content">
		<img src="{% static 'admin/img/1.jpg' %}" alt="1" />
		<img src="{% static 'admin/img/2.jpg' %}" alt="" />
		<img src="{% static 'admin/img/3.jpg' %}" alt="" />
		<img src="{% static 'admin/img/4.jpg' %}" alt="" />
		<img src="{% static 'admin/img/6.jpg' %}" alt="" />		
	</div>

	<div>你在哪？？
    <span class="info">
	  <div class="" id="latitude"></div>
	  <div class="" id="longitude"></div>
	</span>
    </div>
        <script type="text/javascript">
            if (navigator.geolocation) {
			
				 navigator.geolocation.getCurrentPosition(updateLocation,handleeLocationError);

				function updateLocation(position) {
					var latitude = position.coords.latitude;
					var longitude = position.coords.longitude;

					document.getElementById("latitude").innerHTML = Math.round(latitude)+"N";
					document.getElementById("longitude").innerHTML = Math.round(longitude)+"E";
				}

				function handleeLocationError(error)
					{
						switch (error.code) {
							case 0: alert(error.message); break;
							case 1: alert(error.message); break;
							case 2: alert(error.message); break;
							case 3: alert(error.message); break;
						}
					}
   
            }

           
        </script>
	</body>
</html>
